<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml/DTD/xhtml-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="eng" lang="eng">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title> Zdjecia: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag 'photos' %>
</head>
<div style="background-color:LightBlue">
	<p class="navbar">
		&nbsp;
		<%= link_to 'Fotografie', photos_path %>
		&nbsp;
		<%= link_to 'Kategorie', categories_path %>
		&nbsp;
		<%= link_to 'Slajdy', slideshows_path %>
	</p>
</div>
<p style="color: green"><%= flash[:notice] %></p>
<%= yield %>
</body>
</html>
